<div class="container">
  <form novalidate [formGroup]="calculatorForm" (ngSubmit)="onSubmit(calculatorForm)">
    <div class="row">
      <div class="col-lg-3">
        <div class="input-group">
          <input type="text" class="form-control" id="value1" formControlName="value1">
        </div>
        <div *ngIf="calculatorForm.get('value1').hasError('required') && 
                   calculatorForm.get('value1').touched" class="alert alert-danger">
          Field is required.
        </div>
        <div *ngIf="calculatorForm.get('value1').hasError('pattern') && 
                   calculatorForm.get('value1').touched" class="alert alert-danger">
          Field should have numeric format.
        </div>
      </div>
      <div class="col-lg-2">
        <div class="input-group">
        <select class="form-control" id="operation" formControlName="operation" >
            <option *ngFor="let item of operations" [ngValue]="item">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="input-group">
          <input type="text" class="form-control" id="value2" formControlName="value2">
        </div>
        <div *ngIf="calculatorForm.get('value2').hasError('required') && 
                calculatorForm.get('value2').touched" class="alert alert-danger">
          Field is required.
        </div>
        <div *ngIf="calculatorForm.get('value2').hasError('pattern') && 
                    calculatorForm.get('value2').touched" class="alert alert-danger">
          Field should have numeric format.
        </div>
      </div>
      <div class="col-lg-2">
        <div class="input-group">
          <input type="submit" class="btn btn-degault" [disabled]="calculatorForm.invalid" value="Calculate">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group" [class.alert-danger]="isError">
                Result: {{result}}
            </div>
          </div>
    </div>
  </form>
</div>
