<div class="container">
  <div class="page-header">
    <h1>
      Calculator App
    </h1>
  </div>

  <div class="form-group">
    <nav class="nav nav-pills nav-justified">
      <a href="" routerLink="/calc" class="nav-link" routerLinkActive="active">Online Calculator</a>
      <a href="" routerLink="/about" class="nav-link" routerLinkActive="active">About</a>
    </nav>
  </div>

  <div class="form-group">
    <router-outlet></router-outlet>
  </div>
</div>
